p{
    background-color: red;
    color: white;
    padding: 40px;
    margin: 150px 50px 0 50px;
    border: solid 2px lightgreen;
    box-shadow: 0 5px 5px lightgreen;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
}

.pulse{
    animation-name: pulse-keys;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}

@keyframes pulse-keys {
    0%{box-shadow: 0px 1px 30px lightgreen;}
    20%{box-shadow: none}
    60%{box-shadow: 0px 1px 30px lightgreen;}
    80%{box-shadow: none}
    100%{box-shadow: 0px 1px 30px lightgreen;}
}