.holder{
    height: 140px;
    width: 400px;
    background-color: lightskyblue;
    padding: 20px;
    margin: 150px auto 0 auto;
    border: blue solid 2px;
    border-radius: 5px;
    box-shadow: 0 5px 5px gray;
}